.App {
  /* background-image: url('./images/records.png');
  background-repeat: no-repeat; */
  background-size: 100% 100%;
  /* background-color:darkgray ; */
  height: 100%;
}

.page_header{
  padding-top: 5px;
  height: 100px;
  width: 100%;
}
.logo{
  width: 90px;
  height: 90px;
  border-radius: 25px;
  margin-bottom: 60%;;
}

.home-style{
  background-image: url('./images/stereo.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 450px;
  opacity: 0.6;
  box-shadow: 3px 3px 3px grey;
}

.header_item{
  display: inline-block;
  padding-right: 10px;
}

.logform-style{
  background-image: url('./images/hiphopcrowd1.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 450px;
  /* width: 50%; */
  margin-left: 25%;
  margin-top: 2%;
} 

.regform-style{
  background-image: url('./images/hiphopcrowd2.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 450px;
  width: 50%;
  margin-left: 25%;
  margin-top: 2%;
}

.dashboard{
  height: 450px;
  width: 100%;
  background-image: url('./images/records.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow: 3px 3px 3px grey;
}

.dashboard1{
  height: 450px;
  width: 100%;
  background-image: url('./images/stereo.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow: 3px 3px 3px grey;
}
.dashboard2{
  height: 450px;
  width: 100%;
  background-image: url('./images/hiphopcrowd1.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow: 3px 3px 3px grey;
}
.dashboard3{
  height: 450px;
  width: 100%;
  background-image: url('./images/hiphopcrowd2.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow: 3px 3px 3px grey;
}
.dashboard4{
  height: 450px;
  width: 100%;
  background-image: url('./images/70s.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow: 3px 3px 3px grey;
}
.dashboard-list-style{
  margin-left: 20px;
  height: 350px;
  overflow-y: scroll;
}
.dashboard-list-style::-webkit-scrollbar {
  display: none
}

.like-button{
  width: 2%;
  height: 2%;
}

.list-container{
  height: 360px;
  overflow-y: scroll;
}

.list-container::-webkit-scrollbar {
  display: none
}

.list-style{
  margin-left: 10px;
}

.list-height{
  height: 200px;
}

.browse-bg-style{
  background-image: url('./images/turntable.png');
  background-repeat: no-repeat;
  background-size: cover ;
  height: 450px;
  padding-top: 100px;
  /* opacity: 0.5; */
  box-shadow: 3px 3px 3px grey;
}

.seventy-bg-style{
  background-image: url('./images/70sllcool.jpg');
  background-repeat: no-repeat;
  background-size: cover ;
  height: 450px;
  /* opacity: 0.5; */
  box-shadow: 3px 3px 3px grey;
}
.eighty-bg-style{
  background-image: url('./images/80s.jpg');
  background-repeat: no-repeat;
  background-size: cover ;
  height: 450px;
  box-shadow: 3px 3px 3px grey;
  /* opacity: 0.5; */
}
.ninety-bg-style{
  background-image: url('./images/90s.jpg');
  background-repeat: no-repeat;
  background-size: cover ;
  height: 450px;
  box-shadow: 3px 3px 3px grey;
}

.song-button{
  background-color: lightslategrey;
  opacity: 0.8;
  border-radius: 15px;
}

.dashboard-song-button{
  background-color: lightslategrey;
  opacity: 0.9;
  border-radius: 15px;
  width: 85%;
  text-align: left;
  margin: 1px;
}

.cover-style{
  width: 185px;
  height: 185x;
  border: solid;
  border-color: white;
  margin-left: 150px;
}

.song-details-style{
  box-shadow: 5px 5px 5px grey;
}